@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    font-family: 'Raleway', sans-serif;
}


.hero {
    width: 100%;
    height: 500px;
    background-image: url("../../media/texas.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .bg-primary {
    background: none!important;
  }