@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    font-family: 'Raleway', sans-serif;
}
/* OVERALL DESIGN */
header {
    width: 100%;
    height: 500px;
    background-color: white;
    background-image: url("../../media/texas.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

header h1 {
    position: absolute;
    top: 200px;
    right: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.has-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 980px) {
    header h1 {
        right: 0;
    }
}


footer {
    padding: 30px 50px;
    line-height: 0.5rem;
}

/* OVERALL DESIGN END */

/* YOUTUBE COMPONENT */
#app-youtube {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}

.left-arrow, .right-arrow {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
}

.left-arrow button, .right-arrow button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.main-block {
    width: 90%;
    height: 100%;
    float: left;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.arrow:hover {
    border-width: 0 8px 8px 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modal-dialog {
    max-width: 590px;
}
/* YOUTUBE COMPONENT END */