body, html {
  height: 100%;
  margin: 0;
  color: #777;
  padding-top: 32px;
}

.navbar-brand {
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 2rem;
  }
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/img/seasunset.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/img/sea.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("/img/road.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
footer p {
  background: rgba(0,0,0,0.5);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius: 1px;
  color: white;
  padding: 10px;
  font-size: 14px;
}

.central-text-block {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 2rem;
}

.central-text-block-monospace {
  max-width: 640px;
  margin: 20px auto;
  font-size: 2rem;
  font-family: monospace;
}


.entered {
  color: rgb(255, 182, 0)!important;
}